.header-bg {
  background: var(--c12);
}
.header {
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header-menu a {
  color: var(--w);
  font-size: 18px;
  line-height: 32px;
}
