.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--p1);
  overflow: hidden;
}
.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: end;
}
.depoimento-conteudo p {
  max-width: 32ch;
  font-size: 36px;
  line-height: 1.33;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
}
.depoimento span {
  font-family: Poppins;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .depoimento-img {
    max-height: 540px;
  }
}
@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento-img {
    max-height: 240px;
  }
  .depoimento-conteudo {
    padding: 40px 20px;
    margin: auto;
  }
  .depoimento-conteudo p {
    font-size: 24px;
  }
}
