.escolha-bg {
  padding-top: 120px;
  padding-bottom: 120px;
}
.escolha-titulo {
  padding: 0 20px;
  padding-bottom: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.escolha {
  display: flex;
  gap: 40px;
  padding: 0 20px;
  padding-bottom: 20px;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: auto;
}
.escolha-item img {
  border-radius: 5px;
  min-width: 220px;
  padding-bottom: 16px;
}
.escolha-item h3 {
  display: flex;
  align-items: center;
}
.escolha-item span {
  padding-left: 12px;
}
.escolha-item h3::before {
  display: inline-block;
  content: "";
  height: 8px;
  width: 12px;
  background-color: var(--p1);
}
.escolha-item a:hover h3::before {
  display: inline-block;
  content: "";
  height: 8px;
  width: 30px;
  transition: 0.3s;
  background-color: var(--p1);
}
@media (max-width: 1200px) {
  .escolha-bg {
    padding-top: 80px;
  }
}
@media (max-width: 800px) {
  .escolha-bg {
    padding-top: 60px;
  }
  .escolha {
    gap: 20px;
  }
  .escolha-item-info {
    padding: 10px;
  }
}
