.seguros-bg {
  background: var(--c11);
  color: var(--w);
  padding-bottom: 120px;
}
.seguros-bg .texto-medio-2 {
  font-family: Poppins;
  font-weight: 600;
}
.seguros-bg h1 {
  max-width: 1200px;
  padding: 60px 20px;
  margin: 0 auto;
}
.seguros-lista {
  max-width: 1200px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 40px;
  border-radius: 5px;
}
.seguros-item {
  background: var(--c12);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px 32px 32px 64px;
  margin: auto 0;
}
.seguros-item h2 {
  padding-bottom: 40px;
}
.seguros-item ul {
  grid-column: 1;
}
.seguros-item li {
  padding-bottom: 20px;
  position: relative;
}
.seguros-item li::before {
  content: "";
  width: 13px;
  height: 9px;
  background-repeat: no-repeat;
  top: 9px;
  left: -20px;
  background-image: url(/img/icones/lista.svg);
  position: absolute;
}
.seguros-item li:last-child {
  padding-bottom: 32px;
}
.seguros-item a {
  grid-column: 1;
}
.seguros-item span {
  grid-row: 1;
  grid-column: 2;
  text-align: right;
}
.seguros-item span::after {
  content: "mensal";
  position: relative;
  top: -8px;
  font-size: 12px;
  color: var(--c6);
  display: block;
}

@media (max-width: 800px) {
  .seguros-lista {
    grid-template-columns: 1fr;
  }
}
