.tecnologias-bg {
  background-color: var(--c11);
  box-shadow: inset 0px 80px white, inset 0px -80px white;
}
.tecnologias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
  gap: 60px;
  margin: 0 auto;
  max-width: 1200px;
}
.tecnologias-info {
  display: grid;
  align-items: end;
  padding-top: 160px;
  padding-bottom: 160px;
}
.tecnologias-info h1 {
  padding-bottom: 32px;
}
.tecnologias-info h2 {
  padding-bottom: 20px;
}
.tecnologias-info p {
  padding-bottom: 20px;
}
.link {
  margin-bottom: 86px;
  position: relative;
}
.link:hover {
  color: var(--w);
}
.link::after {
  content: "";
  display: block;
  width: 250px;
  height: 4px;
  background: var(--p1);
  margin-top: 2px;
  position: absolute;
}
.link:hover::after {
  background-color: var(--w);
}
.tecnologias-img {
  height: 100%;
  border-radius: 5px;
}
.tecnologias-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.tecnologias-lista img {
  padding-bottom: 8px;
}
.tecnologias-lista h3 {
  padding-bottom: 8px;
}
@media (max-width: 1200px) {
  .link {
    margin-bottom: 66px;
  }
}

@media (max-width: 800px) {
  .tecnologias-bg,
  .tecnologias {
    box-shadow: none;
  }
  .tecnologias {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .tecnologias-img {
    display: none;
  }
  .tecnologias-info {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .tecnologias-lista {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
